## Keep only Ultimate Chartist configuration files.

# data/weekly/AAII/BullBearRatio.csv



CommentReport/
data/archive
data/daily
data/Rank
data/intraday
data/archive
data/agenda
data/dividend
data/financial
Alert/AlertLog

log/
Report/
license.dat
*.bak
/data/intraday.Old
*.suo
/data2
.vs
/CommentReport_20200227
/Formation/~$PortfolioRequirement.xlsx
