## Keep only Ultimate Chartist configuration files.

# data/weekly/AAII/BullBearRatio.csv



CommentReport/
data/archive
data/daily
data/intraday
data/weekly/cot
data/weekly/harpex
data/archive
data/agenda
data/financial

log/
Report/
license.dat
*.bak